<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antiphon.recyclerviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LinearVerticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LinearHorizontalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StaggeredGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TypeViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ItemDecorationAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HeadFootViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TouchHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ItemClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyLayoutManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NestedScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DependencyViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScrollViewActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>